:root {
    --color-gray: rgb(224,224,219);
    --color-darker-gray: rgb(200, 200, 195);
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-size: 36px;
    margin-left: 4%;
}

h3 {
    font-size: 26px;
}

p {
    font-size: 20px;
    margin-left: 10%;
    max-width: 320px;
}

.hero {
    background-image: url(../images/foggyforest.jpg);
    background-position: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    color: white;
    height: 100%;
    min-height: 300px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.hero h1 {
    font-size: 3rem;
    max-width: 20rem;
    padding: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.make-a-difference {
    background-image: linear-gradient(rgb(200, 200, 195), rgb(224,224,219));
    margin-top: 0%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.recycle {
    margin-left: 8.5rem;
}

.walk {
    margin-left: 9.5rem;
}

.how-to {
    background-color: var(--color-gray);
    margin-bottom: 0%;
}

.how-to img {
    max-width: 400px;
}

.recycle {
    margin-top: 0%;
}

.energy {
    margin-left: 6.5rem;
}

.energy figure{
    margin-bottom: 0;
    padding-bottom: 10px;
}

.footer-info {
    background-color: var(--color-darker-gray);
}

.footer-info h3 {
    margin-bottom: 0;
    margin-left: 2rem;
    padding-top: 1rem;
    margin-top: 0%;
}

.footer-info ul {
    list-style: none;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 2rem;
}

.energy-img {
    margin-bottom: 0;
}

.footer-info a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 600px){

.make-a-difference {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.make-a-difference h2 {
    margin-left: 0%;
    margin-bottom: 0%;
}

.make-a-difference p {
    margin-left: 0%;
    margin-bottom: 100px;
    max-width: 100%;
}

.recycle-img{
    height: 180px;
}

.walk-img {
    height: 180px;
}

.energy-img {
    height: 180px;
}

.recycle-content {
    margin: auto;
    display: grid;
    grid-template-areas: 
    "h3 img"
    "p img";
}

.recycle {
    grid-area: h3;
    margin-bottom: 0;
    padding-top: 50px;
    justify-self: flex-end;
    margin-right: 135px;
}

.recycle-content p {
    grid-area: p;
    margin-top: -60px;
    justify-self: flex-end;
}

.recycle-img {
    grid-area: img;
    margin-bottom: 100px;
    margin-left: 0;
}

.walk-content {
    margin: auto;
    display: grid;
    grid-template-areas: 
    "h3 img"
    "p img";
}

.walk {
    grid-area: h3;
    margin-bottom: 0;
    padding-top: 50px;
    justify-self: flex-end;
    margin-right: 150px;
}

.walk-content p {
    grid-area: p;
    margin-top: -60px;
    justify-self: flex-end;
}

.walk-img {
    grid-area: img;
    margin-bottom: 100px;
    margin-left: 0;
}

.energy-content {
    margin: auto;
    display: grid;
    grid-template-areas: 
    "h3 img"
    "p img";
}

.energy {
    grid-area: h3;
    margin-bottom: 0;
    padding-top: 50px;
    justify-self: flex-end;
    margin-right: 115px;
}

.energy-content p {
    grid-area: p;
    margin-top: -60px;
    justify-self: flex-end;
    padding-right: 20px;
}

.energy-img {
    grid-area: img;
    margin-bottom: 100px;
    margin-left: 0;
}

}