:root {
    --color-gray: rgb(224,224,219);
    --color-darker-gray: rgb(200, 200, 195);
    --color-btn-hover: rgb(27, 20, 99);
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}

.hero * {
    color: white;
}

.hero h1 {
    font-size: 3rem;
    padding-top: -10%;
}

.hero article a {
    text-decoration: none;
    border: 3px solid white;
    padding: 1rem;
    font-size: 150%;
    transition: all .5s;
}

.hero article a:hover {
    background-color: white;
    color: black;
}

.hero ul {
    list-style: none;
    padding-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero ul li {
    text-decoration: none;
    padding: 0.8rem;
}

.hero {
    background-image: url(../images/forest.jpg);
    background-position: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    padding-top: 10%;
}

.information {
    margin-right: 0%;
    padding: 1rem;
    background-color: var(--color-darker-gray);
    font-size: 160%;
}

.take-action {
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
}

.take-action a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: cadetblue;
    padding: 1rem;
    font-size: 32px;
    transition: all .5s;
    color: white;
}

.take-action a:hover { 
    background-color: var(--color-btn-hover);
}

.contact {
    background-image: url(../images/neature.jpg);
    background-position: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    padding-top: 10%;
    min-height: 500px;
    color: white;
    font-size: 2rem;
}

.contact a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: cadetblue;
    transition: all .5s;
    color: white;
    padding: 1rem;
    font-size: 32px;
    transition: all .5s;
    color: white;
    max-width: 250px;
    max-height: 32px;
}

.contact a:hover {
    background-color: var(--color-btn-hover);
}

.footer-info {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    background-color: var(--color-darker-gray);
}

.footer-info ul {
    list-style: none;
    padding-left: 0%;
}

.footer-info a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 600px){

.hero {
    display: flex;
    flex-direction: column;
}

.hero ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.take-action img {
    max-width: 500px;
    height: 500px;
}

.take-action {
    display: grid;
}

.take-action h2 {
    grid-column-start: 2;
    margin-left: 50px;
    max-width: 400px;
    margin-top: 50px;
    font-size: 250%;
}

.take-action a {
    max-width: 250px;
    max-height: 32px;
    grid-column-start: 2;
    margin-left: 50px;
    margin-top: -150px;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact h2 {
    background-color: rgba(0, 0, 0, 0.247);
    padding: 1%;
}

.contact a {
    max-width: 250px;
    max-height: 32px;
    margin-left: 140px;
}
}